[submodule "docs"]
	path = docs
	url = https://github.com/PacificBiosciences/SMRT-Analysis.wiki.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/PacificBiosciences/SMRT-Analysis.wiki.git
[submodule "bifx"]
	path = bifx
	url = https://github.com/PacificBiosciences/Bioinformatics-Training.wiki.git
